.project-subtitle {
	margin: 10px 0px;
}

.project-container {
	display: grid;
	grid-template-columns: 100px 0.8fr 30px;
	grid-template-rows: repeat(2, 0.1fr);
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
	padding-bottom: 20px;
}

.project {
	grid-row: 2;
	grid-column: 2 / 4;
	font-family: "Fredericka the Great", cursive;
	letter-spacing: 0.2rem;
	line-height: 1.5rem;
	color: rgba(247, 210, 16, 100%);
	font-family: "Red Rose", cursive;
}

.project a {
	text-decoration: none;
	color: rgba(247, 210, 16, 100%);
	font-family: "Red Rose", cursive;
	border: 2px solid white;
	padding: 5px;
}
