* {
	box-sizing: border-box;
}

img {
	object-fit: fill;
	width: 100%;
	height: 100%;
	border-radius: 2px;
}
h1 {
	font-size: 0.8rem;
	letter-spacing: 0.3rem;
	font-family: "Caesar Dressing", cursive;
}
h2 {
	font-size: 0.75rem;
	font-family: "Red Rose", cursive;
}
h1,
h2 {
	color: rgba(247, 210, 16, 100%);
}
.welcome-container {
	background-image: linear-gradient(
		rgba(200, 39, 38, 100%),
		rgba(255, 5, 0, 100%)
	);
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 40px) 40px 50px repeat(3, 0.8fr) 40px;
	border: 3px solid black;
	min-height: 740px;
}

.start-reading,
.date-div,
.project1-div,
.project2-div,
.cents-div,
.welcome-title,
.welcome-subtitle,
.welcome-batman,
.welcome-about,
.welcome-boom,
.welcome-apt,
.welcome-bazinga {
	border-radius: 5px;
	border: 2px solid black;
}
.welcome-title {
	grid-row: 1 / 3;
	grid-column: 2 / 5;
	background-color: blue;
	line-height: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.welcome-subtitle {
	grid-row: 4;
	grid-column: 1 / 6;
	background-color: blue;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.welcome-batman {
	grid-row: 1 / 3;
	grid-column: 1;
}

.welcome-about {
	grid-row: 6 / 8;
	grid-column: 4 / 6;
}

.welcome-boom {
	grid-row: 5 / 7;
	grid-column: 1 / 3;
}
.welcome-apt {
	grid-row: 7;
	grid-column: 1;
}
.welcome-bazinga {
	grid-row: 1 / 3;
	grid-column: 5;
}
.vol-div {
	grid-row: 8;
	grid-column: 1 / 6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.project2-div {
	grid-row: 7;
	grid-column: 2 / 4;
}
.project1-div {
	grid-column: 3;
	grid-row: 6 / 7;
}

.cents-div {
	grid-row: 3;
	grid-column: 1;
}

.date-div {
	grid-row: 3;
	grid-column: 5;
}

.cents-div,
.date-div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	text-align: center;
	font-family: "Red Rose", cursive;
	font-size: 0.5rem;
}

.start-reading {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	text-align: center;
	font-family: "Red Rose", cursive;
	grid-row: 5;
	grid-column: 3 / 6;
	animation-name: background-animation;
	animation-delay: 6s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.linked {
	display: flex;
	justify-content: center;
	grid-row: 3;
	grid-column: 4;
}
.git {
	display: flex;
	justify-content: center;
	grid-row: 3;
	grid-column: 2;
}

@keyframes background-animation {
	0% {
		background-color: white;
		box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0%);
	}
	35% {
		background-color: lightgreen;
		box-shadow: 5px 5px 5px 5px rgba(139, 237, 142, 70%);
	}
	65% {
		background-color: lightgreen;
		box-shadow: 5px 5px 5px 5px rgba(139, 237, 142, 70%);
	}
	100% {
		background-color: white;
		box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0%);
	}
}

@media (min-width: 700px) {
	.welcome-container {
		background-image: linear-gradient(
			rgba(200, 39, 38, 100%),
			rgba(255, 5, 0, 100%)
		);
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(5, 0.5fr);
		grid-template-rows: repeat(2, 70px) 70px 70px repeat(3, 250px) 40px;
		border: 3px solid black;
		max-height: 1440px;
		max-width: 1440px;
	}
	h1 {
		font-size: 1.6rem;
		letter-spacing: 0.3rem;
		font-family: "Caesar Dressing", cursive;
	}
	h2 {
		font-size: 1.4rem;
		font-family: "Red Rose", cursive;
	}
	.cents-div,
	.date-div {
		font-size: 1rem;
	}
	.start-reading {
		font-size: 2rem;
	}
}
