.about-subtitle {
	text-decoration: none;
	grid-row: 4;
	grid-column: 1 / 5;
	background-color: #4056a1;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	border: 2px solid black;
}

.details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	margin: 10px;
	border-radius: 5px;
}

.details {
	font-family: 'Fredericka the Great', cursive;
	letter-spacing: 0.2rem;
	line-height: 1rem;
	margin: 5px;
}

.info-card {
	border: 2px solid white;
	height: 350px;
	width: 250px;
}

.card-title {
	font-family: 'Rye', cursive;
}

.about-p {
	color: #efe2ba;
	font-family: 'Red Rose', cursive;
	font-size: 0.85rem;
	font-weight: 700;
}

.about-title {
	text-align: center;
	font-size: 2rem;
}

@media (min-width: 600px) {
	.about-subtitle {
		grid-column: 2 / 7;
	}

	.details-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border: 1px solid white;
		margin: 20px 90px;
		border-radius: 5px;
	}

	.details {
		font-family: 'Fredericka the Great', cursive;
		letter-spacing: 0.2rem;
		line-height: 1rem;
		margin: 10px 70px;
	}

	.info-card {
		border: 2px solid white;
		height: 350px;
		width: 250px;
	}

	.card-title {
		font-family: 'Rye', cursive;
	}

	.about-p {
		color: #efe2ba;
		font-family: 'Red Rose', cursive;
		font-size: 1.3rem;
		font-weight: 700;
		line-height: 1.4rem;
	}

	.about-title {
		text-align: center;
		font-size: 2rem;
		margin: 10px 0px;
	}
}
